<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366490429520-5eb6r9lvta0cp4ikl9qal248f847ace8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366490429520-5eb6r9lvta0cp4ikl9qal248f847ace8</string>
	<key>API_KEY</key>
	<string>AIzaSyBm6qzOuIZcDE178s9yj0TDx58qoqcZXvI</string>
	<key>GCM_SENDER_ID</key>
	<string>366490429520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>seller.savana.com</string>
	<key>PROJECT_ID</key>
	<string>savana-da309</string>
	<key>STORAGE_BUCKET</key>
	<string>savana-da309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366490429520:ios:e1134ae05b19dcac8bc955</string>
	<key>DATABASE_URL</key>
	<string>https://savana-da309-default-rtdb.firebaseio.com</string>
</dict>
</plist>